*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #355881;
}

.header {
  width: 375px;
  background-color: white;
  height: 48px;
}

.header, h1, .leftarrow, .searchicon {
  display: inline-block;
}

.stop {
  margin-left: 39px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.nearby {
  margin-left: 2px;
  margin-top: 14px;
  font-size: 16px;
  font-weight: bold;
}

.leftarrow {
  width: 10px;
  float: left;
  margin: 14px 5px 0 5px;
}

.searchicon {
  width: 15px;
  float: right;
  margin: 16px 14px 0 0;
}

.gps {
  background-image: url(./../images/gps.png);
  background-size: cover;
  background-position: 0 -35px;
  height: 325px;
}

.pin, .logo, .refresh {
  width: 10%;
}

.pin {
  position: absolute;
  left: 200px;
  top: 300px;
}

.logo {
  position: absolute;
  left: 170px;
  top: 203px;
  width: 44px;
}

.rounded-rect {
  background: #F9ADA4;
  border-radius: 27px;
  padding: 15px;
  position: absolute;
  width: 200px;
  top: 192px;
  right: 10px;
}

.text {
  float: right;
  margin-right: 6px;
  text-align: center;
  font-size: 14px;
}

.text-time {
  font-size: 18px;
  font-weight: bold;
}

.map, .statusbar {
  width: 375px;
}


.statusbar {
  margin-top: 3px;
}

hr{
	border-top: 1px solid #979797;
  width:90%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.float-sm1, .float-sm2, .float-md, .float-lg {
  padding: 3px;
}

.float-lg {
  width: 70%;
  float: left;
}

.float-sm1 {
  width: 25%;
  float: left;
  border: 2px solid #0B3667;
  border-radius: 8px;
  margin:15px 0 15px 15px;
  text-align: center;
}

.float-md {
  width: 45%;
  float:left;
  margin-top: 7px;
  margin-left: 12px;
  font-size: 12px;
  line-height: 1.5;
}

.float-sm2 {
  width: 10%;
  float: left;
  margin-top: 4px;
  margin-left: 18px;
  line-height: 1.2;
}

.mins {
  margin-left: 6px;
}

.tabs {
  position: absolute;
  height: 58px;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: 1.5px solid #979797;
}

.steps {
  margin: 0;
  padding: 0;
  overflow: scroll;
  list-style-type: none;
  height: 220px;
}

.group {
margin-top: 10px;

}
::-webkit-scrollbar {
  display: none;
}


.steps li span:nth-child(1) {
  font-size: 140%;
  font-weight: 600;
}

.steps li span:nth-child(3) {
  text-align: center;
}

.steps li span:nth-child(3) > span {
  font-size: 200%;
  font-weight: 580;
}

.info, .calendar {
  width: 22px;
}

.heart {
  width: 19px;
}

.cal, .information, .scute {
  float: left;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.cal {
    margin: 10px 0px 0 20px;
    line-height: 1.5;
}

.information {
  margin: 10px 0px 0 105px;
  line-height: 1.5;
}

.scute {
  float: right;
  margin: 12px 20px 0 0;
  line-height: 1.5;
}
