*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  font-size: 11px;
  color: #355881;
}

.header {
  width: 375px;
  background-color: white;
}

.header, h1, .leftarrow, .searchicon {
  display: inline-block;
}

.stop {
  margin-left: 37px;
}

.nearby {
  margin-left: 2px;
}

.leftarrow {
  width: 10px;
  float: left;
  margin: 14px 5px 0 5px;
}

.searchicon {
  width: 15px;
  float: right;
  margin: 16px 10px 0 0;
}

.gps {
  background-image: url(./../images/BusyBusMap.png);
  background-size: cover;
  background-position: 0 -35px;
  height: 325px;
}

.pin, .logo, .refresh {
  width: 10%;
}

.map, .statusbar {
  width: 375px;
}

.schedule {
  height: 225px;
  overflow: scroll;
}

.state {
  float: left;
  margin: 20px;
}

.refresh {
  margin: 20px 0 0 0;
  width: 21px;
}

.walk {
  float: left;
  width: 12px;
}

.walkroute {
  float: right;
}

.group:before {
  content: "";
  display: table;
  clear: both;
}

.float-sm, .float-md {
  padding: 10px;
  border: 1px solid black;
}

.float-sm {
  width: 20%;
  float: left;
}

.float-md {
  width: 60%;
  float:left;
}

.tabs {
  overflow: hidden;
  position: absolute;
  height: 50px;
  bottom: 0;
  background-color: white;
  width: 100%;
}

.steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.steps li > span:nth-child(1) {
  font-size: 200%;
}

.steps li > span:nth-child(3) span {
  font-size: 200%;
}


.info, .calendar {
  width: 22px
  ;
}

.heart {
  width: 19px;
}

.cal, .information, .scute {
  float: left;
  text-align: center;
  font-size: 11.5px;
}

.scute {
  float: right;
}
